# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.SpacewalkersTest.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnrealEngineProjects\SpacewalkersTest\.idea\.idea.SpacewalkersTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
